@import url("https://fonts.googleapis.com/css2?family=Poltawski+Nowy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Poltawski+Nowy&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headerNavGeneral {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
}
.headerNavGeneral img {
  border-radius: 100%;
  border: 5px solid;
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-color: white;
}
.headerNavGeneral .botoneraHeader {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.headerNavGeneral .botoneraHeader a {
  text-decoration: none;
  font-family: "Poltawski Nowy", serif;
  font-size: medium;
  color: white;
}
.headerNavGeneral .botoneraHeader .btn {
  display: inline;
  position: relative;
  padding: 20px 30px;
  text-decoration: none;
  letter-spacing: 5px;
  transform: all 0.8s ease;
  border-radius: 100px;
  border: 3px solid;
  border-color: white;
  transition: all 0.8s;
}
.headerNavGeneral .botoneraHeader .btn:hover {
  background-color: rgb(0, 0, 0);
  border-color: grey;
}
.headerNavGeneral .botoneraHeader .btn:hover a {
  font-weight: bolder;
}
.headerNavGeneral .botoneraHeader .btn-1 span:nth-child(n) {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 3px solid;
  transition: all 0.6s ease;
}
.headerNavGeneral .botoneraHeader .btn-1 span:nth-child(1) {
  right: 10px;
  top: -10%;
  background-color: #ffffff;
}
.headerNavGeneral .botoneraHeader .btn-1:hover span:nth-child(1) {
  top: 100%;
  transform: rotate(90deg);
  color: var(--color);
  background-color: rgb(146, 145, 145);
}
.headerNavGeneral .botoneraHeader .btn-1 span:nth-child(2) {
  left: 10px;
  bottom: -10%;
  background-color: rgb(146, 145, 145);
}
.headerNavGeneral .botoneraHeader .btn-1:hover span:nth-child(2) {
  bottom: 100%;
  transform: rotate(90deg);
  color: var(--color);
  background-color: white;
}
.headerNavGeneral .botoneraHeader .btn-2 span:nth-child(n) {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 3px solid;
  transition: all 0.6s ease;
}
.headerNavGeneral .botoneraHeader .btn-2 span:nth-child(1) {
  right: 10%;
  top: -10px;
  background-color: #fff;
}
.headerNavGeneral .botoneraHeader .btn-2 span:nth-child(2) {
  left: 10%;
  bottom: -10px;
}
.headerNavGeneral .botoneraHeader .btn-2:hover span:nth-child(1) {
  right: 80%;
  transform: rotate(90deg);
  color: var(--color);
  background-color: var(--color);
}
.headerNavGeneral .botoneraHeader .btn-2:hover span:nth-child(2) {
  left: 80%;
  transform: rotate(90deg);
  color: var(--color);
}

.footerDiv {
  text-align: center;
  color: white;
  padding: 10px;
}
.footerDiv .h3Footer {
  text-decoration: underline;
  font-family: "Poltawski Nowy", serif;
  font-size: x-large;
  color: white;
}
.footerDiv .h3SubDiv {
  display: flex;
  justify-content: center;
  align-content: center;
}
.footerDiv .h3SubDiv svg {
  color: white;
  width: 30px;
  height: 30px;
}
.footerDiv .h3SubDiv a {
  padding: 5px 10px;
  border-radius: 100px;
  border-width: 5px;
  border-style: inset groove;
  margin: 10px;
}

.bodyIndex {
  background: url("../images/Backgrounds/indexBackgroundImg.svg");
  background-size: cover;
  padding: 0px 30px;
}

.sec1Index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  grid-template-areas: "h1Index h1Index h1Index h1Index" "h2Index  h2Index  .. .." "h3Index h4Index h4Index h4Index" "h3Index h4Index h4Index h4Index";
  justify-items: center;
  align-items: center;
  gap: 10px;
  margin: 40px;
}
.sec1Index__Grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.sec1Index .h1Index {
  grid-area: h1Index;
  text-align: center;
  background-color: #820bd7;
  border-style: groove;
}
.sec1Index .h2Index {
  grid-area: h2Index;
  justify-content: start;
  margin-left: 20px;
}
.sec1Index .h3Index {
  grid-area: h3Index;
  margin-right: 10px;
  width: 400px;
  height: 300px;
}
.sec1Index .h4Index {
  grid-area: h4Index;
}

.sec2Index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  margin: 40px;
}
.sec2Index div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
  padding: 10px 0px;
}
.sec2Index img {
  margin-left: 10px;
  width: 300px;
  height: 400px;
}

.sec3Index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  margin: 40px;
  text-align: center;
}
.sec3Index img {
  width: 800px;
  height: auto;
}
.sec3Index h2 {
  padding: 10px;
}

/* subtitle, Subtitle and paragraphs fonts style*/
.h1Index {
  font-family: "Poltawski Nowy", serif;
  text-align: center;
  color: white;
  font-size: 45px;
}

.h2Index, .sec2Index h2, .sec3Index h2 {
  font-family: "Poltawski Nowy", serif;
  text-align: center;
  color: white;
  text-decoration: underline;
  font-size: 40px;
}

.h4Index p, .sec2Index p, .sec3Index p {
  font-family: "PT Sans Narrow", sans-serif;
  text-align: justify;
  color: white;
  font-size: xx-large;
}

/* images and texts border style */
.h1Index, .h3Index, .sec2Index img, .sec3Index img {
  object-fit: cover;
  border-radius: 100px;
  border-style: inset outset;
  border-color: #9107f4;
  border-width: 15px;
}

.footerDiv a {
  border-color: rgb(228, 3, 232);
}

.bodyFB {
  background: url("../images/Backgrounds/facebookBackgroundImg.svg");
  background-size: cover;
  padding: 0px 30px;
}
.bodyFB .h3SubDiv svg {
  border-color: rgb(114, 124, 250);
}

/* start of sec1 of main body facebook Page */
.sec1FB {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 1fr;
  grid-template-rows: 100px 100px 200px 200px 300px;
  grid-template-areas: ".. title title title title title .." "subtitle subtitle .. .. .. .. .." "paragraph paragraph paragraph paragraph paragraph paragraph paragraph" ".. img1 img2 img3 img4 img5 .." ".. img1 img2 img3 img4 img5 ..";
  justify-items: center;
  place-items: center;
  gap: 10px;
  margin: 40px;
}
.sec1FB__Grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%;
  height: 100%;
}
.sec1FB .h1FB {
  grid-area: title;
  align-content: center;
  background-color: #7d8bf7;
  padding: 10px;
}
.sec1FB .h2FB {
  grid-area: subtitle;
  align-items: end;
}
.sec1FB .h3FB {
  grid-area: paragraph;
}
.sec1FB .h4FB, .sec1FB .h5FB, .sec1FB .h6FB, .sec1FB .h7FB, .sec1FB .h8FB {
  display: inline;
  text-align: center;
}
.sec1FB .h4FB {
  grid-area: img1;
}
.sec1FB .h5FB {
  grid-area: img2;
}
.sec1FB .h6FB {
  grid-area: img3;
}
.sec1FB .h7FB {
  grid-area: img4;
}
.sec1FB .h8FB {
  grid-area: img5;
}
.sec1FB .h4FB img, .sec1FB .h5FB img, .sec1FB .h6FB img, .sec1FB .h7FB img, .sec1FB .h8FB img {
  width: 200px;
  height: 300px;
}

.sec2FB {
  margin: 40px;
}
.sec2FB .sec2Div1FB {
  display: inline;
}

.sec3FB {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "imgSec3 img2Sec3 img3Sec3" "iframeSec3 iframeSec3 iframeSec3";
  justify-items: center;
  place-items: center;
  gap: 10px;
}
.sec3FB__Div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.sec3FB .sec3H1FB {
  grid-area: imgSec3;
}
.sec3FB .sec3H2FB {
  grid-area: img2Sec3;
}
.sec3FB .sec3H3FB {
  grid-area: img3Sec3;
}
.sec3FB .sec3H4FB {
  grid-area: iframeSec3;
}
.sec3FB .sec3H1FB img, .sec3FB .sec3H2FB img, .sec3FB .sec3H3FB img {
  width: 500px;
  height: 300px;
}
.sec3FB .sec3H4FB iframe {
  width: 600px;
  height: 400px;
}

/* General borders */
.sec3H4FB iframe, .h1FB, .sec3H1FB img, .sec3H2FB img, .sec3H3FB img, .h4FB img, .h5FB img, .h6FB img, .h7FB img, .h8FB img {
  object-fit: cover;
  border-radius: 50px;
  border-style: inset double;
  border-color: #3234b8;
  border-width: 20px;
}

/* General titles font and styles */
.h1FB {
  font-size: 50px;
  font-family: "Poltawski Nowy", serif;
  text-align: center;
  color: white;
}

.h4FB h2, .h5FB h2, .h6FB h2, .h7FB h2, .h8FB h2 {
  font-family: "Poltawski Nowy", serif;
  text-align: center;
  color: white;
  font-size: xx-large;
}

.h2FB, .sec2Div1FB h2 {
  font-family: "Poltawski Nowy", serif;
  text-align: center;
  color: white;
  font-size: xx-large;
  text-decoration: underline solid;
}

.sec2Div1FB p, .h3FB p {
  font-family: "PT Sans Narrow", sans-serif;
  text-align: justify;
  color: white;
  font-weight: 2px solid;
  font-size: xx-large;
}

.bodySD {
  background: url("../images/Backgrounds/sixdegreesBackgroundImg.svg");
  background-size: cover;
  padding: 0px 30px;
}

.sec1SD {
  padding: 20px;
  gap: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr 2fr;
  grid-template-rows: 0.5fr 0.5fr 2fr 0.5fr;
  grid-template-areas: "areaT areaT areaT2 areaT2 areaT2" "areaImg areaImg areaP areaP areaP" "areaImg areaImg areaP areaP areaP" "areaCN areaCN areaP areaP areaP";
  align-items: center;
  justify-items: center;
  place-items: center;
}
.sec1SD__Grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%;
  height: 100%;
}
.sec1SD .h1SD {
  grid-area: areaT;
  padding: 0px 20px;
  background-color: #0a97c6;
}
.sec1SD .h2SD {
  grid-area: areaImg;
  width: 300px;
  height: 400px;
}
.sec1SD .h3SD {
  grid-area: areaCN;
}
.sec1SD .h4SD {
  grid-area: areaT2;
  padding: 20px;
}
.sec1SD .h5SD {
  grid-area: areaP;
  padding: 15px;
  background-color: #08799f;
}

.sec2SD {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 400px);
  grid-template-areas: "sec2Img1 sec2Img2 sec2Img3";
  justify-items: center;
  align-items: center;
  margin: 10px;
}
.sec2SD__Grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.sec2SD .sec2Img1 {
  grid-area: sec2Img1;
  width: 400px;
  height: 350px;
}
.sec2SD .sec2Img2 {
  grid-area: sec2Img2;
  width: 400px;
  height: 400px;
}
.sec2SD .sec2Img3 {
  grid-area: sec2Img3;
  width: auto;
  height: 350px;
}

.sec3SD {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.sec3SD .sec3__Div1SD {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.sec3SD .sec3__Div1SD p {
  background-color: #08799f;
  padding: 15px;
}
.sec3SD .sec3__Div2SD {
  margin: 10px;
}
.sec3SD .sec3__Div2SD iframe {
  width: 800px;
  height: 400px;
}

/* Title, Subtitle and paragraphs fonts*/
.h1SD {
  font-family: "Poltawski Nowy", serif;
  text-align: center;
  color: rgb(248, 248, 248);
  font-size: 40px;
}

.h3SD, .h4SD, .sec3__Div1SD h2 {
  font-family: "Poltawski Nowy", serif;
  text-align: center;
  color: rgb(248, 248, 248);
  font-size: 35px;
}

.h5SD, .sec3__Div1SD p {
  font-family: "PT Sans Narrow", sans-serif;
  text-align: justify;
  color: white;
  font-size: xx-large;
}

.sec3__Div1SD h2, .h4SD {
  text-decoration: double underline;
  text-decoration-color: #ffffff;
}

.h1SD, .h3SD, .h2SD {
  border-radius: 50px;
  border-style: inset ridge;
  border-color: #05aee7;
  border-width: 10px;
}

.h5SD, .sec3__Div1SD p {
  border-radius: 25px;
  border-style: inset outset;
  border-color: white;
  border-width: 5px;
}

.h2SD, .sec2Img1, .sec2Img2, .sec2Img3, .sec3__Div2SD iframe {
  border-radius: 100px;
  border-style: inset outset;
  border-color: #05aee7;
  border-width: 10px;
  object-fit: cover;
}

.footerDiv a {
  border-color: rgb(3, 152, 232);
}

.bodyTT {
  background: url("../images/Backgrounds/tiktokBackground.svg");
  background-size: cover;
  padding: 30px;
}

.footerDiv a {
  border-color: rgb(255, 255, 255);
}

/* Start of sec1 of main body TikTok page */
.sec1TT {
  display: inline;
  margin: 40px;
}
.sec1TT .sec1TT__Div1 {
  display: inline;
}
.sec1TT .sec1TT__Div2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
}
.sec1TT .sec1TT__Div2__SubDiv1 {
  display: inline;
  text-align: center;
}
.sec1TT .sec1TT__Div2__SubDiv2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.sec1TT .sec1TT__Div2__SubDiv2 h2 {
  text-decoration: underline;
  text-decoration-color: white;
}

.sec2TT {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 40px;
}
.sec2TT .sec2TT__Div1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.sec2TT .sec2TT__Div1 img {
  width: 400px;
  height: auto;
}
.sec2TT .sec2TT__Div2 {
  display: inline;
}
.sec2TT .sec2TT__Div2 h2 {
  text-decoration: underline;
  text-decoration-color: white;
}
.sec2TT .sec2TT__Div3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.sec2TT .sec2TT__Div3 iframe {
  width: 600px;
  height: 300px;
  width: 600px;
  height: 300px;
}

.sec1TT__Div1 h1, .sec1TT__Div2__SubDiv1 h2, .sec1TT__Div2__SubDiv1 img, .sec2TT__Div1 img, .sec2TT__Div3 iframe {
  border-radius: 75px;
  border-style: inset double;
  border-color: rgb(248, 242, 242);
  border-width: 10px;
  object-fit: cover;
}

/* font styles */
.sec1TT__Div1 h1 {
  font-family: "Poltawski Nowy", serif;
  text-align: center;
  color: white;
  font-size: 50px;
}

.sec1TT__Div2__SubDiv1 h2, .sec1TT__Div2__SubDiv2 h2, .sec2TT__Div2 h2 {
  font-family: "Poltawski Nowy", serif;
  text-align: center;
  color: white;
  font-size: 40px;
}

.sec1TT__Div1 p, .sec1TT__Div2__SubDiv2 ul, .sec2TT__Div2 p {
  font-family: "PT Sans Narrow", sans-serif;
  text-align: justify;
  color: white;
  font-size: xx-large;
}

.sec1TT__Div2__SubDiv2 ul li {
  font-size: 25px;
  font-family: "PT Sans Narrow", sans-serif;
  text-align: justify;
  color: white;
}

.bodyYT {
  background: url("../images/Backgrounds/youtubeBackground.svg");
  background-size: cover;
  padding: 30px;
}

.footerDiv svg {
  border-color: rgb(10, 4, 4);
}

.sec1YT {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 100px 1fr;
  grid-template-areas: "titleYT titleYT titleYT titleYT" "subtitleYT .. .. .." "logoYT pYT pYT pYT";
  justify-items: center;
  place-items: center;
  gap: 10px;
  margin: 40px;
}
.sec1YT__Grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%;
  height: 100%;
}
.sec1YT .h1YT {
  grid-area: titleYT;
}
.sec1YT .h2YT {
  grid-area: logoYT;
}
.sec1YT .h2YT img {
  width: 400px;
  height: 250px;
}
.sec1YT .h3YT {
  grid-area: subtitleYT;
}
.sec1YT .h4YT {
  grid-area: pYT;
}

.sec2YT {
  margin: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.sec2YT div {
  text-align: center;
}
.sec2YT img {
  margin: 20px;
  width: 400px;
  height: 400px;
}

.sec3YT {
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.sec3YT .sec3YT__Div1 {
  display: inline;
}
.sec3YT .sec3YT__Div2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.sec3YT .sec3YT__Div2 div {
  display: inline;
  text-align: center;
}
.sec3YT .sec3YT__Div2 img {
  width: 500px;
  height: 300px;
}
.sec3YT .sec3YT__Div3 {
  display: inline;
}
.sec3YT .sec3YT__Div3 h2 {
  text-align: center;
}
.sec3YT .sec3YT__Div3 iframe {
  width: 900px;
  height: 400px;
}

/* borders style */
.h1YT, .h2YT img, .sec2YT img, .sec3YT__Div2 img, .sec3YT__Div3 iframe {
  object-fit: cover;
  border-radius: 75px;
  border-style: groove double;
  border-color: white;
  border-width: 20px;
}

/* fonts style and sizes */
.h1YT {
  font-size: 50px;
  font-family: "Poltawski Nowy", serif;
  text-align: center;
  color: white;
}

.h3YT, .sec2YT__Div h2, .sec3YT__Div1 h2, .sec3YT__Div2 h3, .sec3YT__Div3 h2 {
  font-family: "Poltawski Nowy", serif;
  text-align: center;
  color: white;
  font-weight: 10px;
  font-size: 40px;
}

.h4YT p, .sec3YT__Div1 p {
  font-family: "PT Sans Narrow", sans-serif;
  text-align: justify;
  color: white;
  font-size: xx-large;
}

.sec3YT__Div2 h3 {
  border-radius: 25px;
  border-style: groove;
  border-color: white;
  border-width: 3px;
}

/* subtitle decorations */
.h3YT h2, .sec3YT__Div1 h2, .sec3YT__Div3 h2, .h3YT {
  text-decoration: underline double;
  text-decoration-color: white;
  padding: 20px;
}

@media only screen and (max-width: 1199.98px) {
  .headerNavGeneral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px;
  }
  .sec1Index {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 50px 400px 1fr;
    grid-template-areas: "h1Index h1Index h1Index h1Index" "..  h2Index  h2Index .." ".. h3Index h3Index .." "h4Index h4Index h4Index h4Index";
  }
  .sec1Index .h2Index {
    justify-content: center;
  }
  .sec1Index .h3Index {
    width: 700px;
    height: 400px;
  }
  .sec2Index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    margin: 40px;
  }
  .sec2Index div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;
    padding: 10px 0px;
  }
  .sec2Index img {
    margin-left: 10px;
    width: 500px;
    height: 400px;
  }
  /* subtitle, Subtitle and paragraphs fonts style*/
  .h1Index {
    font-size: 35px;
  }
  .h2Index, .sec2Index h2, .sec3Index h2 {
    font-size: 30px;
  }
  .h4Index p, .sec2Index p, .sec3Index p {
    font-size: x-large;
  }
  .sec1YT {
    grid-template-rows: 100px 200px 1fr;
    grid-template-areas: "titleYT titleYT titleYT titleYT" "subtitleYT subtitleYT logoYT logoYT" " pYT pYT pYT pYT";
  }
  .sec1YT .h2YT img {
    width: 400px;
    height: 200px;
  }
  .sec2YT h2 {
    font-size: 25px;
  }
  .sec2YT img {
    width: 200px;
    height: 300px;
  }
  .sec3YT .sec3YT__Div2 img {
    width: 400px;
    height: 300px;
  }
  .sec3YT .sec3YT__Div3 {
    display: inline;
  }
  .sec3YT .sec3YT__Div3 div {
    text-align: center;
  }
  .sec3YT .sec3YT__Div3 iframe {
    width: 700px;
    height: 400px;
  }
  /* borders style */
  .h1YT, .h2YT img, .sec2YT img, .sec3YT__Div2 img, .sec3YT__Div3 iframe {
    border-width: 10px;
  }
  /* fonts style and sizes */
  .h1YT {
    font-size: 40px;
  }
  .h3YT, .sec3YT__Div1 h2, .sec3YT__Div2 h3, .sec3YT__Div3 h2 {
    font-size: 35px;
  }
  .h4YT p, .sec3YT__Div1 p {
    font-size: x-large;
  }
  /* font styles */
  .sec1TT__Div1 h1 {
    font-family: "Poltawski Nowy", serif;
    text-align: center;
    color: white;
    font-size: 45px;
  }
  .sec1TT__Div2__SubDiv1 h2, .sec1TT__Div2__SubDiv2 h2, .sec2TT__Div2 h2 {
    font-family: "Poltawski Nowy", serif;
    text-align: center;
    color: white;
    font-size: 35px;
  }
  .sec1TT__Div1 p, .sec1TT__Div2__SubDiv2 ul, .sec2TT__Div2 p {
    font-family: "PT Sans Narrow", sans-serif;
    text-align: justify;
    color: white;
    font-size: x-large;
  }
  .sec1TT__Div2__SubDiv2 ul li {
    font-size: 20px;
    font-family: "PT Sans Narrow", sans-serif;
    text-align: justify;
    color: white;
  }
  .sec1SD {
    margin: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
    grid-template-areas: ". areaT areaT areaT .." "areaT2 areaT2 areaP areaP areaP" "areaImg areaImg areaP areaP areaP" "areaImg areaImg areaP areaP areaP" "areaCN areaCN areaP areaP areaP";
  }
  .sec1SD .h1SD {
    padding: 0px;
  }
  .sec1SD .h2SD {
    width: 300px;
    height: 300px;
  }
  .sec1SD .h3SD {
    grid-area: areaCN;
  }
  .sec1SD .h4SD {
    grid-area: areaT2;
    padding: 20px;
  }
  .sec1SD .h5SD {
    grid-area: areaP;
    padding: 15px;
    background-color: #08799f;
  }
  .sec2SD {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
  }
  .sec2SD .sec2Img1 {
    width: 500px;
    height: 350px;
  }
  .sec2SD .sec2Img2 {
    width: 500px;
    height: 400px;
  }
  .sec2SD .sec2Img3 {
    width: auto;
    height: 350px;
  }
  /* Title, Subtitle and paragraphs fonts*/
  .h1SD {
    font-size: 40px;
  }
  .h3SD, .h4SD, .sec3__Div1SD h2 {
    font-size: 30px;
  }
  .h5SD, .sec3__Div1SD p {
    font-size: x-large;
  }
  .h1SD, .h3SD, .h2SD {
    border-radius: 50px;
    border-style: inset ridge;
    border-color: #05aee7;
    border-width: 10px;
  }
  .h5SD, .sec3__Div1SD p {
    border-radius: 25px;
    border-style: inset outset;
    border-color: white;
    border-width: 5px;
  }
  .h2SD, .sec2Img1, .sec2Img2, .sec2Img3, .sec3__Div2SD iframe {
    border-radius: 100px;
    border-style: inset outset;
    border-color: #05aee7;
    border-width: 10px;
    object-fit: cover;
  }
  .sec1FB {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 75px 250px 300px 100px;
    grid-template-areas: ".. title title title title title .." "subtitle subtitle subtitle .. .. .. .." "paragraph paragraph paragraph paragraph paragraph paragraph paragraph" ".. img1 img2 img3 img4 img5 .." ".. img1 img2 img3 img4 img5 ..";
  }
  .sec1FB .h4FB img, .sec1FB .h5FB img, .sec1FB .h6FB img, .sec1FB .h7FB img, .sec1FB .h8FB img {
    width: 150px;
    height: 200px;
  }
  .sec3FB .sec3H1FB img, .sec3FB .sec3H2FB img, .sec3FB .sec3H3FB img {
    width: 270px;
    height: 250px;
  }
  .sec3FB .sec3H4FB iframe {
    width: 600px;
    height: 400px;
  }
  /* General borders */
  .sec3H4FB iframe, .h1FB, .sec3H1FB img, .sec3H2FB img, .sec3H3FB img, .h4FB img, .h5FB img, .h6FB img, .h7FB img, .h8FB img {
    border-radius: 50px;
    border-style: inset double;
    border-color: #3234b8;
    border-width: 10px;
  }
  /* General titles font and styles */
  .h1FB {
    font-size: 40px;
    font-family: "Poltawski Nowy", serif;
    text-align: center;
    color: white;
  }
  .h4FB h2, .h5FB h2, .h6FB h2, .h7FB h2, .h8FB h2 {
    font-family: "Poltawski Nowy", serif;
    text-align: center;
    color: white;
    font-size: 25px;
  }
  .h2FB, .sec2Div1FB h2 {
    font-family: "Poltawski Nowy", serif;
    text-align: center;
    color: white;
    font-size: 30px;
    text-decoration: underline solid;
  }
  .sec2Div1FB p, .h3FB p {
    font-family: "PT Sans Narrow", sans-serif;
    text-align: justify;
    color: white;
    font-weight: 2px solid;
    font-size: 30px;
  }
}
@media only screen and (max-width: 991.98px) {
  .sec1Index .h3Index {
    width: 600px;
    height: 300px;
  }
  .sec3Index img {
    width: 600px;
    height: auto;
  }
  /* subtitle, Subtitle and paragraphs fonts style*/
  .h1Index {
    font-size: 35px;
  }
  .h2Index, .sec2Index h2, .sec3Index h2 {
    font-size: 30px;
  }
  .h4Index p, .sec2Index p, .sec3Index p {
    font-size: x-large;
  }
  .footerDiv .h3Footer {
    font-size: x-large;
    margin: 0px;
  }
  .sec1YT {
    margin: 20px;
    grid-template-rows: 100px 200px 1fr;
    grid-template-areas: "titleYT titleYT titleYT titleYT" "subtitleYT subtitleYT logoYT logoYT" " pYT pYT pYT pYT";
  }
  .sec1YT .h2YT img {
    width: 250px;
    height: 150px;
  }
  .sec2YT {
    margin: 20px;
  }
  .sec2YT h2 {
    font-size: 25px;
  }
  .sec2YT img {
    width: 200px;
    height: 300px;
  }
  .sec3YT {
    margin: 20px;
  }
  .sec3YT .sec3YT__Div2 img {
    width: 300px;
    height: 200px;
  }
  .sec3YT .sec3YT__Div3 iframe {
    width: 500px;
    height: 400px;
  }
  /* fonts style and sizes */
  .h1YT {
    font-size: 38px;
  }
  .h3YT, .sec3YT__Div1 h2, .sec3YT__Div2 h3, .sec3YT__Div3 h2 {
    font-size: 30px;
  }
  .h4YT p, .sec3YT__Div1 p {
    font-size: x-large;
  }
  .sec1TT {
    margin: 0px;
  }
  .sec1TT .sec1TT__Div2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;
  }
  .sec2TT {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0px;
  }
  /* font styles */
  .sec1TT__Div1 h1 {
    font-family: "Poltawski Nowy", serif;
    text-align: center;
    color: white;
    font-size: 42px;
  }
  .sec1TT__Div2__SubDiv1 h2, .sec1TT__Div2__SubDiv2 h2, .sec2TT__Div2 h2 {
    font-family: "Poltawski Nowy", serif;
    text-align: center;
    color: white;
    font-size: 32px;
  }
  .sec1TT__Div1 p, .sec1TT__Div2__SubDiv2 ul, .sec2TT__Div2 p {
    font-family: "PT Sans Narrow", sans-serif;
    text-align: justify;
    color: white;
    font-size: 23px;
  }
  .sec1TT__Div2__SubDiv2 ul li {
    font-size: 20px;
    font-family: "PT Sans Narrow", sans-serif;
    text-align: justify;
    color: white;
  }
  .sec1SD {
    margin: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 0.25fr 1fr 1fr 1fr;
    grid-template-areas: "areaT areaT areaT areaT areaT" "areaT2 areaT2 areaT2 .. .." "areaImg areaImg areaImg areaCN areaCN" "areaP areaP areaP areaP areaP" "areaP areaP areaP areaP areaP";
  }
  .sec1SD .h1SD {
    padding: 0px;
  }
  .sec1SD .h2SD {
    width: 300px;
    height: 300px;
  }
  .sec1SD .h4SD {
    padding: 20px;
  }
  .sec1SD .h5SD {
    padding: 15px;
    background-color: #08799f;
  }
  .sec3SD .sec3__Div2SD {
    margin: 10px;
  }
  .sec3SD .sec3__Div2SD iframe {
    width: 600px;
    height: 400px;
  }
  .sec1FB {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .sec1FB .h4FB img, .sec1FB .h5FB img, .sec1FB .h6FB img, .sec1FB .h7FB img, .sec1FB .h8FB img {
    width: 300px;
    height: 400px;
  }
  .sec3FB {
    margin: 0px;
    gap: 5px;
  }
  .sec3FB .sec3H1FB img, .sec3FB .sec3H2FB img, .sec3FB .sec3H3FB img {
    width: 225px;
    height: 200px;
  }
  .sec3FB .sec3H4FB iframe {
    width: 500px;
    height: 400px;
  }
  /* General titles font and styles */
  .h1FB {
    font-size: 35px;
  }
  .h4FB h2, .h5FB h2, .h6FB h2, .h7FB h2, .h8FB h2 {
    font-size: 25px;
  }
  .h2FB, .sec2Div1FB h2 {
    font-size: 25px;
  }
  .sec2Div1FB p, .h3FB p {
    font-size: 25px;
  }
}
@media only screen and (max-width: 767.98px) {
  .footerDiv .h3Footer {
    font-size: large;
    margin: 0px;
  }
  .footerDiv .h3SubDiv svg {
    width: 20px;
    height: 20px;
  }
  .footerDiv .h3SubDiv a {
    border-width: 0;
    padding: 0px;
    margin: 5px;
  }
  .sec1Index {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 50px 200px 1fr;
  }
  .sec1Index .h3Index {
    width: 350px;
    height: 200px;
  }
  .sec2Index img {
    width: 300px;
    height: 200px;
  }
  .sec3Index img {
    width: 400px;
    height: auto;
  }
  /* subtitle, Subtitle and paragraphs fonts style*/
  .h1Index {
    font-size: 25px;
  }
  .h2Index, .sec2Index h2, .sec3Index h2 {
    font-size: 23px;
  }
  .h4Index p, .sec2Index p, .sec3Index p {
    font-size: large;
  }
  .sec1YT {
    grid-template-rows: 100px 150px 1fr;
  }
  .sec1YT .h2YT img {
    width: 200px;
    height: 100px;
  }
  .sec2YT h2 {
    font-size: 20px;
  }
  .sec2YT img {
    width: 150px;
    height: 200px;
  }
  .sec3YT .sec3YT__Div2 img {
    width: 300px;
    height: 200px;
  }
  .sec3YT .sec3YT__Div3 iframe {
    width: 400px;
    height: 250px;
  }
  /* fonts style and sizes */
  .h1YT {
    font-size: 35px;
  }
  .h3YT, .sec3YT__Div1 h2, .sec3YT__Div2 h3, .sec3YT__Div3 h2 {
    font-size: 25px;
  }
  .h4YT p, .sec3YT__Div1 p {
    font-size: large;
  }
  .sec2TT .sec2TT__Div3 iframe {
    width: 600px;
    height: 300px;
    width: 500px;
    height: 300px;
  }
  .sec1SD {
    grid-template-rows: 0.25fr 0.25fr 1fr 0.25fr 1fr 0.75fr;
    grid-template-areas: "areaT areaT areaT areaT areaT" "areaT2 areaT2 areaT2 areaT2 areaT2" ".. areaImg areaImg areaImg .." ".. areaCN areaCN areaCN .." "areaP areaP areaP areaP areaP" "areaP areaP areaP areaP areaP";
  }
  .sec1SD .h2SD {
    width: 300px;
    height: 300px;
  }
  .sec2SD .sec2Img1 {
    width: 400px;
    height: auto;
  }
  .sec2SD .sec2Img2 {
    width: 400px;
    height: auto;
  }
  .sec2SD .sec2Img3 {
    width: 400px;
    height: auto;
  }
  .sec3SD .sec3__Div2SD iframe {
    width: 400px;
    height: 300px;
  }
  /* Title, Subtitle and paragraphs fonts*/
  .h1SD {
    font-size: 40px;
  }
  .h3SD, .h4SD, .sec3__Div1SD h2 {
    font-size: 25px;
  }
  .h5SD, .sec3__Div1SD p {
    font-size: large;
  }
  .sec1FB {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .sec1FB .h4FB img, .sec1FB .h5FB img, .sec1FB .h6FB img, .sec1FB .h7FB img, .sec1FB .h8FB img {
    width: 200px;
    height: 300px;
  }
  .sec3FB {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
  }
  .sec3FB .sec3H1FB img, .sec3FB .sec3H2FB img, .sec3FB .sec3H3FB img {
    width: auto;
    height: 200px;
  }
  .sec3FB .sec3H4FB iframe {
    width: 500px;
    height: 400px;
  }
  /* General borders */
  .sec3H4FB iframe, .h1FB, .sec3H1FB img, .sec3H2FB img, .sec3H3FB img, .h4FB img, .h5FB img, .h6FB img, .h7FB img, .h8FB img {
    border-radius: 0px;
    border-style: inset double;
    border-color: #3234b8;
    border-width: 10px;
  }
  /* General titles font and styles */
  .h1FB {
    font-size: 35px;
    font-family: "Poltawski Nowy", serif;
    text-align: center;
    color: white;
  }
  .h4FB h2, .h5FB h2, .h6FB h2, .h7FB h2, .h8FB h2 {
    font-family: "Poltawski Nowy", serif;
    text-align: center;
    color: white;
    font-size: 25px;
  }
  .h2FB, .sec2Div1FB h2 {
    font-family: "Poltawski Nowy", serif;
    text-align: center;
    color: white;
    font-size: 25px;
    text-decoration: underline solid;
  }
  .sec2Div1FB p, .h3FB p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 576px) {
  .headerNavGeneral img {
    width: 100px;
    height: 100px;
  }
  .headerNavGeneral .botoneraHeader a {
    font-size: small;
  }
  .headerNavGeneral .botoneraHeader .btn {
    padding: 10px;
  }
  .footerDiv .h3Footer {
    font-size: x-small;
  }
  .footerDiv .h3SubDiv svg {
    width: 15px;
    height: 15px;
  }
  .sec1Index {
    margin: 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 50px 180px 1fr;
    grid-template-areas: "h1Index h1Index h1Index h1Index" "h2Index  h2Index  h2Index h2Index" "h3Index h3Index h3Index h3Index" "h4Index h4Index h4Index h4Index";
  }
  .sec1Index .h3Index {
    width: 175px;
    height: 120px;
  }
  .sec2Index {
    margin: 0px;
  }
  .sec2Index img {
    width: 170px;
    height: 100px;
  }
  .sec3Index {
    margin: 0px;
  }
  .sec3Index img {
    width: 170px;
    height: auto;
  }
  /* subtitle, Subtitle and paragraphs fonts style*/
  .h1Index {
    font-size: 20px;
  }
  .h2Index, .sec2Index h2, .sec3Index h2 {
    font-size: 15px;
  }
  .h4Index p, .sec2Index p, .sec3Index p {
    font-size: smaller;
  }
  /* images and texts border style */
  .h1Index, .h3Index, .sec2Index img, .sec3Index img {
    border-radius: 25%;
  }
  .sec1YT {
    grid-template-rows: 100px 100px 150px 1fr;
    grid-template-areas: "titleYT titleYT titleYT titleYT" "subtitleYT subtitleYT subtitleYT subtitleYT" ".. logoYT logoYT .." " pYT pYT pYT pYT";
  }
  .sec1YT .h2YT img {
    width: 200px;
    height: 100px;
  }
  .sec1YT .h4YT {
    font-size: 20px;
  }
  .sec2YT h2 {
    font-size: 20px;
  }
  .sec2YT img {
    width: 150px;
    height: 200px;
  }
  .sec3YT .sec3YT__Div2 img {
    width: 150px;
    height: 100px;
  }
  .sec3YT .sec3YT__Div3 {
    display: inline;
  }
  .sec3YT .sec3YT__Div3 div {
    text-align: center;
  }
  .sec3YT .sec3YT__Div3 iframe {
    width: 200px;
    height: 150px;
  }
  /* borders style */
  .h1YT, .h2YT img, .sec2YT img, .sec3YT__Div2 img, .sec3YT__Div3 iframe {
    border-width: 5px;
  }
  /* fonts style and sizes */
  .h1YT {
    font-size: 20px;
  }
  .sec3YT__Div1 h2, .sec3YT__Div2 h3, .sec3YT__Div3 h2 {
    font-size: 15px;
  }
  .h4YT p, .sec3YT__Div1 p {
    font-size: medium;
  }
  .sec1TT .sec1TT__Div2__SubDiv1 img {
    width: 200px;
    height: auto;
  }
  .sec2TT .sec2TT__Div1 img {
    width: 200px;
    height: auto;
  }
  .sec2TT .sec2TT__Div3 iframe {
    width: 200px;
    height: 175px;
  }
  .sec1TT__Div1 h1, .sec1TT__Div2__SubDiv1 h2, .sec1TT__Div2__SubDiv1 img, .sec2TT__Div1 img, .sec2TT__Div3 iframe {
    border-radius: 50px;
    border-style: inset double;
    border-color: rgb(248, 242, 242);
    border-width: 5px;
  }
  /* font styles */
  .sec1TT__Div1 h1 {
    font-size: 25px;
  }
  .sec1TT__Div2__SubDiv1 h2, .sec1TT__Div2__SubDiv2 h2, .sec2TT__Div2 h2 {
    font-size: 20px;
  }
  .sec1TT__Div1 p, .sec1TT__Div2__SubDiv2 ul, .sec2TT__Div2 p {
    font-size: large;
  }
  .sec1TT__Div2__SubDiv2 ul li {
    font-size: 15px;
  }
  .sec1SD {
    margin: 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 0.2fr 1fr 0.25fr 1fr 1fr;
    grid-template-areas: "areaT areaT areaT areaT areaT" "areaT2 areaT2 areaT2 areaT2 areaT2" ".. areaImg areaImg areaImg .." "areaCN areaCN areaCN areaCN areaCN" "areaP areaP areaP areaP areaP" "areaP areaP areaP areaP areaP";
  }
  .sec1SD .h1SD {
    padding: 0px;
    background-color: #086584;
  }
  .sec1SD .h2SD {
    width: 150px;
    height: 250px;
  }
  .sec1SD .h4SD {
    padding: 0px;
  }
  .sec1SD .h5SD {
    padding: 0px;
  }
  .sec2SD {
    margin: 15px 0px;
  }
  .sec2SD .sec2Img1 {
    width: 200px;
    height: auto;
  }
  .sec2SD .sec2Img2 {
    width: 200px;
    height: auto;
  }
  .sec2SD .sec2Img3 {
    width: 200px;
    height: auto;
  }
  .sec3SD {
    margin: 0px;
  }
  .sec3SD .sec3__Div2SD {
    margin: 10px;
  }
  .sec3SD .sec3__Div2SD iframe {
    width: 200px;
    height: 150px;
  }
  /* Title, Subtitle and paragraphs fonts*/
  .h1SD {
    font-size: 20px;
  }
  .h3SD, .h4SD, .sec3__Div1SD h2 {
    font-size: 15px;
  }
  .h5SD, .sec3__Div1SD p {
    font-size: small;
  }
  .h1SD, .h3SD, .h2SD {
    border-radius: 50px;
    border-style: inset ridge;
    border-color: #05aee7;
    border-width: 10px;
  }
  .h5SD, .sec3__Div1SD p {
    border-radius: 10px;
    border-style: inset outset;
    border-color: white;
    border-width: 3px;
  }
  .h2SD, .sec2Img1, .sec2Img2, .sec2Img3, .sec3__Div2SD iframe {
    border-radius: 50px;
    border-style: inset outset;
    border-color: #05aee7;
    border-width: 5px;
  }
  .sec1FB {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .sec1FB .h4FB img, .sec1FB .h5FB img, .sec1FB .h6FB img, .sec1FB .h7FB img, .sec1FB .h8FB img {
    width: 150px;
    height: 200px;
  }
  .sec3FB {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
  }
  .sec3FB .sec3H1FB img, .sec3FB .sec3H2FB img, .sec3FB .sec3H3FB img {
    width: 200px;
    height: 175px;
  }
  .sec3FB .sec3H4FB iframe {
    width: 200px;
    height: 150px;
  }
  /* General borders */
  .sec3H4FB iframe, .h1FB, .sec3H1FB img, .sec3H2FB img, .sec3H3FB img, .h4FB img, .h5FB img, .h6FB img, .h7FB img, .h8FB img {
    border-radius: 50px;
    border-style: inset double;
    border-color: #3234b8;
    border-width: 10px;
  }
  /* General titles font and styles */
  .h1FB {
    font-size: 25px;
    font-family: "Poltawski Nowy", serif;
    text-align: center;
    color: white;
  }
  .h4FB h2, .h5FB h2, .h6FB h2, .h7FB h2, .h8FB h2 {
    font-family: "Poltawski Nowy", serif;
    text-align: center;
    color: white;
    font-size: 20px;
  }
  .h2FB, .sec2Div1FB h2 {
    font-family: "Poltawski Nowy", serif;
    text-align: center;
    color: white;
    font-size: 20px;
    text-decoration: underline solid;
  }
  .sec2Div1FB p, .h3FB p {
    font-size: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
