@media only screen and (max-width: 1199.98px){
    //Nav Bar
    .headerNavGeneral{
        @include display-flex(column, center, center,wrap, 10px);
        margin-bottom: 30px;
    }
    //End of Nav Bar   
    //Index page
    .sec1Index {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 150px 50px 400px 1fr;
        grid-template-areas: 
        'h1Index h1Index h1Index h1Index'
        '..  h2Index  h2Index ..'
        '.. h3Index h3Index ..'
        'h4Index h4Index h4Index h4Index'
        ;
        .h2Index{
            justify-content: center;
        }
        .h3Index{
            @include width-height(700px,400px);
        }
    }
    .sec2Index{
        @include display-flex(column,center,center,wrap,5px);
        margin: 40px;
    
        div{
            @include display-flex(column,center,center,nowrap,5px);
            padding: 10px 0px;
        }
        img{
            margin-left: 10px;
            @include width-height(500px,400px);
        }
    }
    /* subtitle, Subtitle and paragraphs fonts style*/
    .h1Index{
        font-size: 35px;
    }
    .h2Index, .sec2Index h2, .sec3Index h2{
        font-size: 30px;
    }
    .h4Index p , .sec2Index p, .sec3Index p{
        font-size: x-large;
    }
    //End of Index page
    //Youtube Page
    .sec1YT{
        grid-template-rows: 100px 200px 1fr;
        grid-template-areas: 
        'titleYT titleYT titleYT titleYT'
        'subtitleYT subtitleYT logoYT logoYT'
        ' pYT pYT pYT pYT'
        ;
        .h2YT{
            img{
                @include width-height(400px,200px);
            }
        }
    }
    
    .sec2YT{
        h2{
            font-size: 25px;
        }
        img{
            @include width-height(200px,300px);
        }
    }
    
    .sec3YT{
        .sec3YT__Div2{
            img{
                @include width-height(400px,300px);
            }
        }
        .sec3YT__Div3{
            display: inline;
            div{
                text-align: center;
            }
            iframe{
                @include width-height(700px, 400px);
            }
        }
    }
    /* borders style */
    .h1YT,.h2YT img, .sec2YT img, .sec3YT__Div2 img, .sec3YT__Div3 iframe{
        border-width: 10px
    }
    /* fonts style and sizes */
    .h1YT{
        font-size: 40px;
    }
    .h3YT, .sec3YT__Div1 h2, .sec3YT__Div2 h3, .sec3YT__Div3 h2{
        font-size: 35px;
    }
    .h4YT p,.sec3YT__Div1 p{
        font-size: x-large;
    }
    //End of Yotube page

    //Tiktok page
    /* font styles */
    .sec1TT__Div1 h1{
        @include text-style($title-font,center,white);
        font-size: 45px;
    }
    .sec1TT__Div2__SubDiv1 h2, .sec1TT__Div2__SubDiv2 h2,.sec2TT__Div2 h2{
        @include text-style($title-font,center,white);
        font-size: 35px;
    }
    .sec1TT__Div1 p, .sec1TT__Div2__SubDiv2 ul,.sec2TT__Div2 p{
        @include text-style($paragraph-font,justify,white);
        font-size: x-large;
    }
    .sec1TT__Div2__SubDiv2 ul li{
        font-size: 20px;
        @include text-style($paragraph-font,justify,white);
    }   
    //End of TikTok page
    //SixDegreex page
    .sec1SD{
        margin: 20px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        '. areaT areaT areaT ..'
        'areaT2 areaT2 areaP areaP areaP'
        'areaImg areaImg areaP areaP areaP'
        'areaImg areaImg areaP areaP areaP'
        'areaCN areaCN areaP areaP areaP';
        .h1SD{
            padding: 0px;
        }
        .h2SD{
            @include width-height(300px,300px);
        }
        .h3SD{
            grid-area: areaCN;
        }
        .h4SD{
            grid-area: areaT2;
            padding: 20px;
        }
        .h5SD{
            grid-area: areaP;
            padding: 15px;
            background-color: $sdPage-paragraphsBackgroundColor;  
        }
    }
    .sec2SD{
        margin: 20px;
        @include display-flex(column,center,center,wrap,5px);
        .sec2Img1{
            @include width-height(500px,350px);
        }

        .sec2Img2{
            @include width-height(500px,400px);
        }

        .sec2Img3{
            @include width-height(auto, 350px)
        }
    }
    /* Title, Subtitle and paragraphs fonts*/
    .h1SD{
        font-size: 40px;
    }
    .h3SD, .h4SD, .sec3__Div1SD h2{
        font-size: 30px;
    } 
    .h5SD,.sec3__Div1SD p{
        font-size: x-large;
    }
    //border styles
    .h1SD, .h3SD,.h2SD{
        @include border-style(50px,inset ridge,$sdPage-borderColor,10px);
    }
    .h5SD,.sec3__Div1SD p{
        @include border-style(25px, inset outset, white, 5px);
    }
    .h2SD, .sec2Img1, .sec2Img2, .sec2Img3, .sec3__Div2SD iframe{
        @include border-style(100px, inset outset, $sdPage-borderColor,10px);
        object-fit: cover;
    }
    //End of SixDegrees page
    //Facebook Page
    .sec1FB{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px 75px 250px 300px 100px;
        grid-template-areas: 
        '.. title title title title title ..'
        'subtitle subtitle subtitle .. .. .. ..'
        'paragraph paragraph paragraph paragraph paragraph paragraph paragraph'
        '.. img1 img2 img3 img4 img5 ..'
        '.. img1 img2 img3 img4 img5 ..'
        ;
        .h4FB img, .h5FB img, .h6FB img, .h7FB img, .h8FB img{
            @include width-height(150px,200px);
        }
    
    }
    .sec3FB{
    
        .sec3H1FB img, .sec3H2FB img, .sec3H3FB img{
            @include width-height(270px,250px);
        }
        .sec3H4FB iframe{
            @include width-height(600px,400px);
        }
    }
    
    /* General borders */
    .sec3H4FB iframe,.h1FB,.sec3H1FB img, .sec3H2FB img, .sec3H3FB img, .h4FB img, .h5FB img, .h6FB img, .h7FB img, .h8FB img{
        @include border-style(50px, inset double,$fbPage-borderColor , 10px);
    }
    /* General titles font and styles */
    //title
    .h1FB{
        font-size: 40px;
        @include text-style($title-font,center,white);
    }
    //subtitles
    .h4FB h2, .h5FB h2, .h6FB h2, .h7FB h2, .h8FB h2{
        @include text-style($title-font,center,white);
        font-size: 25px;
    }
    .h2FB, .sec2Div1FB h2{
        @include text-style($title-font,center,white);
        font-size: 30px;
        text-decoration: underline solid;
    }
    //paragraphs
    .sec2Div1FB p, .h3FB p{
        @include text-style($paragraph-font,justify,white);
        font-weight: 2px solid;
        font-size: 30px;
    }
    //End of Facebook Page
}


@media only screen and (max-width: 991.98px){
    //Index page
    .sec1Index{
        .h3Index{
        @include width-height(600px,300px);
    }
    }
    
    .sec3Index{
        img{@include width-height(600px,auto);}
    }
    /* subtitle, Subtitle and paragraphs fonts style*/
    .h1Index{
        font-size: 35px;
    }
    .h2Index, .sec2Index h2, .sec3Index h2{
        font-size: 30px;
    }
    .h4Index p , .sec2Index p, .sec3Index p{
        font-size: x-large;
    }
    //End of Index page
    //Footer
    .footerDiv{
        .h3Footer{
            font-size: x-large;
            margin: 0px;
        }
    }
    //End of Footer
    //Youtube Page
    .sec1YT{
        margin: 20px;
        grid-template-rows: 100px 200px 1fr;
        grid-template-areas: 
        'titleYT titleYT titleYT titleYT'
        'subtitleYT subtitleYT logoYT logoYT'
        ' pYT pYT pYT pYT'
        ;
        .h2YT{
            img{
                @include width-height(250px,150px);
            }
        }
    }
    
    .sec2YT{
        margin: 20px;
        h2{
            font-size: 25px;
        }
        img{
            @include width-height(200px,300px);
        }
    }
    
    .sec3YT{
        margin: 20px;
        .sec3YT__Div2{
            img{
                @include width-height(300px,200px);
            }
        }
        .sec3YT__Div3{
            iframe{
                @include width-height(500px, 400px);
            }
        }
    }
    /* fonts style and sizes */
    .h1YT{
        font-size: 38px;
    }
    .h3YT, .sec3YT__Div1 h2, .sec3YT__Div2 h3, .sec3YT__Div3 h2{
        font-size: 30px;
    }
    .h4YT p,.sec3YT__Div1 p{
        font-size: x-large;
    }
    //End of Yotube page

    //Tiktok page
    .sec1TT{
        margin: 0px;
        .sec1TT__Div2{
            @include display-flex(column,center,center,nowrap,5px);
        }
    } 
    .sec2TT{
        @include display-flex(column,center,center,wrap,20px);
        margin: 0px;
    }
    /* font styles */
    .sec1TT__Div1 h1{
        @include text-style($title-font,center,white);
        font-size: 42px;
    }
    .sec1TT__Div2__SubDiv1 h2, .sec1TT__Div2__SubDiv2 h2,.sec2TT__Div2 h2{
        @include text-style($title-font,center,white);
        font-size: 32px;
    }
    .sec1TT__Div1 p, .sec1TT__Div2__SubDiv2 ul,.sec2TT__Div2 p{
        @include text-style($paragraph-font,justify,white);
        font-size: 23px;
    }
    .sec1TT__Div2__SubDiv2 ul li{
        font-size: 20px;
        @include text-style($paragraph-font,justify,white);
    }   
    //End of TikTok page
    //SixDegreex page
    .sec1SD{
        margin: 20px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.25fr 0.25fr 1fr 1fr 1fr;
        grid-template-areas: 
        'areaT areaT areaT areaT areaT'
        'areaT2 areaT2 areaT2 .. ..'
        'areaImg areaImg areaImg areaCN areaCN'
        'areaP areaP areaP areaP areaP'
        'areaP areaP areaP areaP areaP';

        .h1SD{
            padding: 0px;
        }
        .h2SD{
            @include width-height(300px,300px);
        }
        .h4SD{
            padding: 20px;
        }
        .h5SD{
            padding: 15px;
            background-color: $sdPage-paragraphsBackgroundColor;  
        }
    }
    .sec3SD{
        .sec3__Div2SD{
            margin: 10px;
            iframe{
                @include width-height(600px,400px);
            }
        }
    }
    //End of SixDegrees page
    //Facebook Page
    .sec1FB{
        margin: 0px;
        @include display-flex(row,center,center,wrap,10px);
        .h4FB img, .h5FB img, .h6FB img, .h7FB img, .h8FB img{
            @include width-height(300px,400px);
        }
    
    }
    .sec3FB{
        margin: 0px;
        gap: 5px;
        .sec3H1FB img, .sec3H2FB img, .sec3H3FB img{
            @include width-height(225px,200px);
        }
        .sec3H4FB iframe{
            @include width-height(500px,400px);
        }
    }
    /* General titles font and styles */
    //title
    .h1FB{
        font-size: 35px;
    }
    //subtitles
    .h4FB h2, .h5FB h2, .h6FB h2, .h7FB h2, .h8FB h2{
        font-size: 25px;
    }
    .h2FB, .sec2Div1FB h2{
        font-size: 25px;
    }
    //paragraphs
    .sec2Div1FB p, .h3FB p{
        font-size: 25px;
    }
    //End of Facebook Page
}


@media only screen and (max-width: 767.98px){
    //Footer
    .footerDiv{
        .h3Footer{
            font-size: large;
            margin: 5px;
        }
        .h3SubDiv{
            a{
                border-width: 0;
                padding: 0px;
                margin: 5px;
                svg{
                    @include width-height(30px,30px);
                }
            }
        }
    }
    //End of Footer
    //Index page
    .sec1Index {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px 50px 200px 1fr;
        .h3Index{
            @include width-height(350px,200px);
        }
    }
    .sec2Index{
        img{
            @include width-height(300px,200px);
        }
    }
    .sec3Index{
        img{@include width-height(400px,auto);}
    }
    /* subtitle, Subtitle and paragraphs fonts style*/
    .h1Index{
        font-size: 25px;
    }
    .h2Index, .sec2Index h2, .sec3Index h2{
        font-size: 23px;
    }
    .h4Index p , .sec2Index p, .sec3Index p{
        font-size: large;
    }
    //End of Index Page
    //Youtube Page
    .sec1YT{
        grid-template-rows: 100px 150px 1fr;
        .h2YT{
            img{
                @include width-height(200px,100px);
            }
        }
    }
    
    .sec2YT{
        h2{
            font-size: 20px;
        }
        img{
            @include width-height(150px,200px);
        }
    }
    
    .sec3YT{
        .sec3YT__Div2{
            img{
                @include width-height(300px,200px);
            }
        }
        .sec3YT__Div3{
            iframe{
                @include width-height(400px, 250px);
            }
        }
    }
    /* fonts style and sizes */
    .h1YT{
        font-size: 35px;
    }
    .h3YT, .sec3YT__Div1 h2, .sec3YT__Div2 h3, .sec3YT__Div3 h2{
        font-size: 25px;
    }
    .h4YT p,.sec3YT__Div1 p{
        font-size: large;
    }
    //End of Yotube page

    //Tiktok page
    .sec2TT{
        .sec2TT__Div3{
            iframe{
                @include width-height(600px,300px);
                width: 500px;
                height: 300px;
            }
        }
    }
    //End of TikTok page
    //SixDegreex page
    .sec1SD{
        grid-template-rows: 0.25fr 0.25fr 1fr 0.25fr 1fr 0.75fr;
        grid-template-areas: 
        'areaT areaT areaT areaT areaT'
        'areaT2 areaT2 areaT2 areaT2 areaT2'
        '.. areaImg areaImg areaImg ..'
        '.. areaCN areaCN areaCN ..'
        'areaP areaP areaP areaP areaP'
        'areaP areaP areaP areaP areaP';
        .h2SD{
            @include width-height(300px,300px);
        }
    }
    .sec2SD{
        .sec2Img1{
            @include width-height(400px,auto);
        }

        .sec2Img2{
            @include width-height(400px,auto);
        }

        .sec2Img3{
            @include width-height(400px, auto)
        }
    }
    .sec3SD{
        .sec3__Div2SD{
            iframe{
                @include width-height(400px,300px);
            }
        }
    }
    /* Title, Subtitle and paragraphs fonts*/
    .h1SD{
        font-size: 40px;
    }
    .h3SD, .h4SD, .sec3__Div1SD h2{
        font-size: 25px;
    } 
    .h5SD,.sec3__Div1SD p{
        font-size: large;
    }
    //End of SixDegrees page
    //Facebook Page
    .sec1FB{
        margin: 0px;
        @include display-flex(row,center,center,wrap,10px);
        .h4FB img, .h5FB img, .h6FB img, .h7FB img, .h8FB img{
            @include width-height(200px,300px);
        }
    
    }
    .sec3FB{
        @include display-flex(column, center,center, wrap, 15px);
        .sec3H1FB img, .sec3H2FB img, .sec3H3FB img{
            @include width-height(auto,200px);
        }
        .sec3H4FB iframe{
            @include width-height(500px,400px);
        }
    }
    
    /* General borders */
    .sec3H4FB iframe,.h1FB,.sec3H1FB img, .sec3H2FB img, .sec3H3FB img, .h4FB img, .h5FB img, .h6FB img, .h7FB img, .h8FB img{
        @include border-style(0px, inset double,$fbPage-borderColor , 10px);
    }
    /* General titles font and styles */
    //title
    .h1FB{
        font-size: 35px;
        @include text-style($title-font,center,white);
    }
    //subtitles
    .h4FB h2, .h5FB h2, .h6FB h2, .h7FB h2, .h8FB h2{
        @include text-style($title-font,center,white);
        font-size: 25px;
    }
    .h2FB, .sec2Div1FB h2{
        @include text-style($title-font,center,white);
        font-size: 25px;
        text-decoration: underline solid;
    }
    //paragraphs
    .sec2Div1FB p, .h3FB p{
        font-size: 20px;
    }
    //End of Facebook Page
}


@media only screen and (max-width: 576px){
    //Nav Bar
    .headerNavGeneral{
        img{
            @include width-height(100px,100px);
        }
        .botoneraHeader{
            a{
                font-size: small;
            }
            .btn{
                padding: 10px;
            }
        }
    }
    //End of Nav Bar
    
    //Footer
    .footerDiv{
        .h3Footer{
            font-size: medium;
        }
        .h3SubDiv{
            a{
                svg{
                    @include width-height(25px,25px);
                }
            }
            
        }
    }
    //End of Footer
    
    //Index page
    .sec1Index {
        margin: 0px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px 50px 180px 1fr;
        grid-template-areas: 
        'h1Index h1Index h1Index h1Index'
        'h2Index  h2Index  h2Index h2Index'
        'h3Index h3Index h3Index h3Index'
        'h4Index h4Index h4Index h4Index'
        ;
        .h3Index{
            @include width-height(175px,120px);
        }
    }
    .sec2Index{
        margin: 0px;
        img{
            @include width-height(170px,100px);
        }
    }
    .sec3Index{
        margin: 0px;
        img{@include width-height(170px,auto);}
    }
    /* subtitle, Subtitle and paragraphs fonts style*/
    .h1Index{
        font-size: 20px;
    }
    .h2Index, .sec2Index h2, .sec3Index h2{
        font-size: 15px;
    }
    .h4Index p , .sec2Index p, .sec3Index p{
        font-size: smaller;
    }
    /* images and texts border style */
    .h1Index,.h3Index, .sec2Index img , .sec3Index img{
        border-radius: 25%;;
    }
    //End of Index Page
    //Youtube Page
    .sec1YT{
        grid-template-rows: 100px 100px 150px 1fr;
        grid-template-areas: 
        'titleYT titleYT titleYT titleYT'
        'subtitleYT subtitleYT subtitleYT subtitleYT'
        '.. logoYT logoYT ..'
        ' pYT pYT pYT pYT'
        ;
        .h2YT{
            img{
                @include width-height(200px,100px);
            }
        }
        .h4YT{
            font-size: 20px;
        }
    }
    
    .sec2YT{
        h2{
            font-size: 20px;
        }
        img{
            @include width-height(150px,200px);
        }
    }
    
    .sec3YT{
        .sec3YT__Div2{
            img{
                @include width-height(250px,auto);
            }
        }
        .sec3YT__Div3{
            display: inline;
            div{
                text-align: center;
            }
            iframe{
                @include width-height(250px, auto);
            }
        }
    }
    /* borders style */
    .h1YT,.h2YT img, .sec2YT img, .sec3YT__Div2 img, .sec3YT__Div3 iframe{
        border-width: 5px;
        border-radius: 25px;
    }
    /* fonts style and sizes */
    .h1YT{
        font-size: 20px;
    }
    .sec3YT__Div1 h2, .sec3YT__Div2 h3, .sec3YT__Div3 h2{
        font-size: 15px;
    }
    .h4YT p,.sec3YT__Div1 p{
        font-size: medium;
    }
    //End of Yotube page
    //Tiktok page
    .sec1TT{
        .sec1TT__Div2{
            &__SubDiv1{
                img{
                    @include width-height(200px,auto);
                }
            }
        }
    } 
    .sec2TT{
        .sec2TT__Div1{
            img{
                @include width-height(250px, auto);  
            }
        }
        .sec2TT__Div3{
            iframe{
                @include width-height(275px,auto);
            }
        }
    }
    .sec1TT__Div1 h1, .sec1TT__Div2__SubDiv1 h2, .sec1TT__Div2__SubDiv1 img,.sec2TT__Div1 img, .sec2TT__Div3 iframe{
        @include border-style(50px,inset double,rgb(248, 242, 242),5px);
    }
    /* font styles */
    .sec1TT__Div1 h1{
        font-size: 25px;
    }
    .sec1TT__Div2__SubDiv1 h2, .sec1TT__Div2__SubDiv2 h2,.sec2TT__Div2 h2{
        font-size: 20px;
    }
    .sec1TT__Div1 p, .sec1TT__Div2__SubDiv2 ul,.sec2TT__Div2 p{
        font-size: large;
    }
    .sec1TT__Div2__SubDiv2 ul li{
        font-size: 15px;
    }   
    //End of TikTok page
    //SixDegreex page
    .sec1SD{
        margin: 0px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.25fr 0.20fr 1fr 0.25fr 1fr 1fr;
        grid-template-areas: 
        'areaT areaT areaT areaT areaT'
        'areaT2 areaT2 areaT2 areaT2 areaT2'
        '.. areaImg areaImg areaImg ..'
        'areaCN areaCN areaCN areaCN areaCN'
        'areaP areaP areaP areaP areaP'
        'areaP areaP areaP areaP areaP';

        .h1SD{
            padding: 0px;
            background-color: #086584;
        }
        .h2SD{
            @include width-height(150px,250px);
        }
        .h4SD{
            padding: 0px;
        }
        .h5SD{
            padding: 10px;
        }
    }
    .sec2SD{
        margin: 15px 0px;
        .sec2Img1{
            @include width-height(250px,auto);
        }

        .sec2Img2{
            @include width-height(200px,auto);
        }

        .sec2Img3{
            @include width-height(250px, auto)
        }
    }
    .sec3SD{
        margin: 0px;
        .sec3__Div2SD{
            margin: 10px;
            iframe{
                @include width-height(250px,150px);
            }
        }
    }
    /* Title, Subtitle and paragraphs fonts*/
    .h1SD{
        font-size: 20px;
    }
    .h3SD, .h4SD, .sec3__Div1SD h2{
        font-size: 15px;
    } 
    .h5SD,.sec3__Div1SD p{
        font-size: small;
    }
    //border styles
    .h1SD, .h3SD,.h2SD{
        @include border-style(50px,inset ridge,$sdPage-borderColor,10px);
    }
    .h5SD,.sec3__Div1SD p{
        @include border-style(10px, inset outset, white, 3px);
    }
    .h2SD, .sec2Img1, .sec2Img2, .sec2Img3, .sec3__Div2SD iframe{
        @include border-style(50px, inset outset, $sdPage-borderColor,5px);
    }
    //End of SixDegrees page
    //Facebook Page
    .sec1FB{
        margin: 0px;
        @include display-flex(row,center,center,wrap,10px);
        .h4FB img, .h5FB img, .h6FB img, .h7FB img, .h8FB img{
            @include width-height(150px,200px);
        }
    
    }
    .sec3FB{
        @include display-flex(column, center,center, wrap, 15px);
        .sec3H1FB img, .sec3H2FB img, .sec3H3FB img{
            @include width-height(275px,auto);
        }
        .sec3H4FB iframe{
            @include width-height(275px,auto);
        }
    }
    
    /* General borders */
    .sec3H4FB iframe,.h1FB,.sec3H1FB img, .sec3H2FB img, .sec3H3FB img, .h4FB img, .h5FB img, .h6FB img, .h7FB img, .h8FB img{
        @include border-style(50px, inset double,$fbPage-borderColor , 10px);
    }
    /* General titles font and styles */
    //title
    .h1FB{
        font-size: 25px;
        @include text-style($title-font,center,white);
    }
    //subtitles
    .h4FB h2, .h5FB h2, .h6FB h2, .h7FB h2, .h8FB h2{
        @include text-style($title-font,center,white);
        font-size: 20px;
    }
    .h2FB, .sec2Div1FB h2{
        @include text-style($title-font,center,white);
        font-size: 20px;
        text-decoration: underline solid;
    }
    //paragraphs
    .sec2Div1FB p, .h3FB p{
        font-size: 15px;
    }
}
