.footerDiv{
    text-align: center;
    color: white;
    padding: 10px;

    
    .h3Footer{ 
        text-decoration: underline;
        @include text-style($title-font,center,white);
        font-size: x-large;
    }
    
    //como cambiar el color del borderr del svg segun cada pagina
    .h3SubDiv{
        display: flex;
        justify-content: center;
        align-content: center;
    
        svg{
            color: white;
            @include width-height(30px,30px);
            
        }
        a{
            @include border-style(100px,inset groove,white,5px);
            padding: 5px 10px;
            margin: 10px;
        }
    }

}