.footerDiv{
    text-align: center;
    color: white;
    padding: 10px;

    
    .h3Footer{ 
        text-decoration: underline;
        font-family: 'Poltawski Nowy',serif;
        font-size: x-large;
        color: white;
    }
    
    //como cambiar el color del borderr del svg segun cada pagina
    .h3SubDiv{
        display: flex;
        justify-content: center;
        align-content: center;
    
        svg{
            color: white;
            width: 30px;
            height: 30px;
        }
        a{
            padding: 5px 10px;
            border-radius: 100px;
            border-width: 5px;
            border-style: inset groove;
            margin: 10px;
        }
    }

}