@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Poltawski+Nowy&display=swap');
*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}