//font family
$title-font :'Poltawski Nowy',serif;
$paragraph-font : 'PT Sans Narrow', sans-serif;

//Borders colors
$index-titleBackgroundColor : #70808a64;
$index-borderColor : #fefeff;

$sdPage-titleBackgroundColor: #0a97c6;
$sdPage-paragraphsBackgroundColor : #08799f;
$sdPage-borderColor : #05aee7;

$fbPage-titleBackgroundColor: #7d8bf7;
$fbPage-borderColor : #3234b8;

$ytPage-borderColor : white;

$ttPage-borderColor: rgb(248, 242, 242);